body {
  font-size: 16px;
}
  
pre, code, kbd, samp {
  font-family: var(--vp-font-family-mono);
}

.vp-doc h2 {
  margin: 15px 0 16px;
  padding-top: 20px;
  border-top: none;
  color: #42b883;
}

.VPDoc .content-container img {
  border-radius: 5px;
}

/* .VPFooter.has-sidebar {
  display: block !important;
} */

  /* #app .Layout .VPSidebar {
  padding-left: 32px;
  
  width: 280px;
}
#app .VPNav .container {
  margin-left: 0;
  margin-right: 0;
  max-width:100%;
}
.VPContent .VPDoc .container .aside {
  max-width: 120px;
  padding-left:10px;
}
@media (min-width: 960px) {
  .VPContent .VPDoc .container .content {
  padding: 0 20px 128px;
  }
}

#app .content-container {
  max-width:100%;
}
#app #VPSidebarNav .group {
  width: 100%;
}
@media (min-width: 960px) {
  #app .VPNavBarTitle.has-sidebar {
  width:  calc(var(--vp-sidebar-width) - 24px);
  }
}
@media (min-width: 1440px) {
  #app .VPContent.has-sidebar {
    padding-right:0;
    padding-left: calc(var(--vp-sidebar-width) );
  }
} */